<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css">
  <title>鹏业点餐</title>
  <style>
    textarea {
      resize: none;
    }

    .table-fixed {
      table-layout: fixed;
      word-break: break-all;
    }

    .msg {
      position: fixed;
      bottom: -100%;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, .6);
      padding: .6rem 1.6rem;
      border-radius: 1.6rem;
      color: #fff;
      opacity: 0;
      transition: .5s;
    }

    .msg.active {
      opacity: 1;
      bottom: 4%;
    }

  </style>
</head>
<body>
<div id="order" class="container-fluid">
  <div class="my-3">
    <div>欢迎 <b>{{userName}}</b></div>
    <div>订餐电话：<span class="text-muted">{{sysParams.ContactMob}}</span></div>
    <div>您的点餐状态：
      <span class="text-success" v-if="isAllreadyOrdered">已点餐</span>
      <span class="text-secondary" v-else>未点餐</span>
    </div>
  </div>
  <div class="form-group">
    <label>品种</label>
    <select class="form-control" type="text" v-model="order.Product" v-bind:disabled="isAllreadyOrdered || finishedEnabled">
      <option v-bind:value="null">随便</option>
      <option v-bind:value="product" v-for="(product, index) in sysParams.Products">{{product}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>备注</label>
    <textarea rows="4" class="form-control" v-model="order.Memo" v-bind:disabled="isAllreadyOrdered || finishedEnabled"></textarea>
  </div>
  <div class="form-group">
    <div class="text-center text-muted" v-if="!placeEnabled && !finishedEnabled">
      <span>未到点餐时间 ({{placeTime}})</span>
    </div>
    <div v-if="placeEnabled">
      <button type="button" class="form-control btn btn-outline-success" v-if="!isAllreadyOrdered" v-bind:disabled="isLoading" v-on:click="placeOrder">
        <span class="icon ion-md-checkmark-circle-outline"></span>
        <span class="ml-1">确认点餐</span>
        <span>({{endPlaceTime}})</span>
      </button>
      <button type="button" class="form-control btn btn-outline-secondary" v-if="isAllreadyOrdered" v-bind:disabled="isLoading" v-on:click="cancelOrder">
        <span class="icon ion-md-close-circle-outline"></span>
        <span class="ml-1">取消点餐</span>
        <span>({{endPlaceTime}})</span>
      </button>
    </div>
    <div v-if="finishedEnabled">
      <button type="button" class="form-control btn btn-outline-info" v-bind:disabled="isLoading" v-on:click="finishOrder">
        <span class="icon ion-md-alarm"></span>
        <span class="ml-1">通知取餐</span>
      </button>
    </div>
  </div>
  <div class="text-muted text-right" v-if="!placeEnabled && !finishedEnabled && placeTime > 0">
    <span class="icon ion-md-time"></span>
    <span class="ml-1">距离可点餐时间还有{{placeTime}}分钟</span>
  </div>
  <div class="my-3" v-if="isAdmin">
    <table class="table table-bordered table-sm table-fixed">
      <thead>
      <tr>
        <td width="15%" class="text-center">序号</td>
        <td width="20%" class="text-center">姓名</td>
        <td width="40%" class="text-center">品种</td>
        <td class="text-center">备注</td>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(order, index) in orders">
        <td style="text-align: center;">{{index+1}}</td>
        <td style="text-align: center;">{{order.Name}}</td>
        <td style="text-align: center;">{{order.Product}}</td>
        <td style="text-align: center;">{{order.Memo}}</td>
      </tr>
      </tbody>
    </table>
    <div class="text-right">
      <div class="form-group">
        <button type="button" class="btn btn-outline-primary" v-on:click="refreshOrderList">
          <span class="icon ion-md-refresh"></span>
          <span class="ml-1">刷新订餐清单</span>
        </button>
      </div>
    </div>
    <div class="form-group">
      <label>联系人手机</label>
      <input class="form-control" v-model="sysParams.ContactMob">
    </div>
    <div class="form-group">
      <label>截止时间(如1050=17*60+30)</label>
      <input type="number" class="form-control" v-model="sysParams.Deadline">
    </div>
    <div class="form-group">
      <label>订餐品种</label>
      <textarea rows="6" class="form-control" v-model="products"></textarea>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-outline-success" v-on:click="modifySysParams">
        <span class="icon ion-md-checkmark-circle-outline"></span>
        <span class="ml-1">保存系统参数</span>
      </button>
    </div>
  </div>
  <div class="msg" v-bind:class="{active : isShowMsg}">{{msg}}</div>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//open.mypy.cn/lib/scripts/0.0.2/jquery.json.js"></script>
<script src="//cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//open.mypy.cn/lib/scripts/0.0.2/PsCommon.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="//g.alicdn.com/dingding/dingtalk-jsapi/2.0.57/dingtalk.open.js"></script>
<!--<script type="text/javascript" name="orderSvr" src="http://iot.p9i.cn:8088/Service/orderJson.sjs"></script>-->
<!--<script type="text/javascript" name="autherSvr" src="http://iot.p9i.cn:8088/Service/autherJson.sjs"></script>-->
<script type="text/javascript" name="orderSvr" src="/Service/orderJson.sjs"></script>
<script type="text/javascript" name="autherSvr" src="/Service/autherJson.sjs"></script>
<script src="js/domain.js"></script>
<script src="index.js"></script>
</body>
</html>
